# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d83e1335c799fbcfa11820d29413d1a67a27cb6dde8adb323cc84d2d0c4c87a5506b6b1806f880481d88b4ca36f8c02d183a2b962387d80d66321b40a5a13d06

test:
  secret_key_base: 88ab95867960a94b05721064ba7993fe65565646c4283f45b88752ff1e3b67d7798d7f83b30cf0304837c64d191c226a70104756a4b97ddd55c3037def63361f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
